In [1]:
# importing the required libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [2]:
# calling out the headers and defining the url
headers = {"User-Agent": 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.81 Safari/537.36'}
url = "https://collegedunia.com/reviews/page-2"

In [3]:
# setting up a webpage
webpage= requests.get(url,headers=headers).text

In [4]:
# using BeautifulSoup on a webpage
soup = BeautifulSoup(webpage)

In [5]:
# scrapping the data
for i in soup.find_all("a",class_="CGtC98"):
    print(i.text.strip())

In [6]:
soup.find_all("a",class_="user-name pointer")

[<a class="user-name pointer" data-college_section_name="reviews" data-csm-title="Brahmansh singal" data-ga-href="reviews/922658-brahmansh-singal-review-on-bhagwan-mahavir-university-bmu-surat" data-ga-module="college_detail" data-ga-section="The positiveness of Bhagwan Mahavir" data-ga-title="Brahmansh singal" data-ga-track="true" href="/reviews/922658-brahmansh-singal-review-on-bhagwan-mahavir-university-bmu-surat">Brahmansh singal</a>,
 <a class="user-name pointer" data-college_section_name="reviews" data-csm-title="Anaswara shailesh" data-ga-href="reviews/922656-anaswara-shailesh-review-on-scms-school-of-engineering-and-technology-sset-ernakulam" data-ga-module="college_detail" data-ga-section="SCMS SCHOOL OF ENGINEERING" data-ga-title="Anaswara shailesh" data-ga-track="true" href="/reviews/922656-anaswara-shailesh-review-on-scms-school-of-engineering-and-technology-sset-ernakulam">Anaswara shailesh</a>,
 <a class="user-name pointer" data-college_section_name="reviews" data-csm-title="Kesa surya" data-ga-href="reviews/922654-kesa-surya-review-on-kamala-institute-of-technology-and-science-kits-karimnagar" data-ga-module="college_detail" data-ga-section="Review the kits collage" data-ga-title="Kesa surya" data-ga-track="true" href="/reviews/922654-kesa-surya-review-on-kamala-institute-of-technology-and-science-kits-karimnagar">Kesa surya</a>,
 <a class="user-name pointer" data-college_section_name="reviews" data-csm-title="Rishika dubey" data-ga-href="reviews/922653-rishika-dubey-review-on-dr-d-y-patil-school-of-design-pune" data-ga-module="college_detail" data-ga-section="Wings to success" data-ga-title="Rishika dubey" data-ga-track="true" href="/reviews/922653-rishika-dubey-review-on-dr-d-y-patil-school-of-design-pune">Rishika dubey</a>,
 <a class="user-name pointer" data-college_section_name="reviews" data-csm-title="Kajal" data-ga-href="reviews/922650-kajal-review-on-lnct-group-of-colleges-lnct-bhopal" data-ga-module="college_detail" data-ga-section="LNCT - A Brand Of Discipline " data-ga-title="Kajal" data-ga-track="true" href="/reviews/922650-kajal-review-on-lnct-group-of-colleges-lnct-bhopal">Kajal</a>,
 <a class="user-name pointer" data-college_section_name="reviews" data-csm-title="Kanika Mishra" data-ga-href="reviews/922648-kanika-mishra-review-on-vellore-institute-of-technology-vit-university-vellore" data-ga-module="college_detail" data-ga-section="Know the truth n join. VIT" data-ga-title="Kanika Mishra" data-ga-track="true" href="/reviews/922648-kanika-mishra-review-on-vellore-institute-of-technology-vit-university-vellore">Kanika Mishra</a>,
 <a class="user-name pointer" data-college_section_name="reviews" data-csm-title="sushmitha" data-ga-href="reviews/922643-sushmitha-review-on-adichunchanagiri-institute-of-technology-ait-chikmagalur" data-ga-module="college_detail" data-ga-section="How AIT college helped me Grow as a Person" data-ga-title="sushmitha" data-ga-track="true" href="/reviews/922643-sushmitha-review-on-adichunchanagiri-institute-of-technology-ait-chikmagalur">sushmitha</a>,
 <a class="user-name pointer" data-college_section_name="reviews" data-csm-title="Saparu USHA RANI" data-ga-href="reviews/922641-saparu-usha-rani-review-on-andhra-university-college-of-science-and-technology-visakhapatnam" data-ga-module="college_detail" data-ga-section=" Campus life " data-ga-title="Saparu USHA RANI" data-ga-track="true" href="/reviews/922641-saparu-usha-rani-review-on-andhra-university-college-of-science-and-technology-visakhapatnam">Saparu USHA RANI</a>,
 <a class="user-name pointer" data-college_section_name="reviews" data-csm-title="Saaim nayeem" data-ga-href="reviews/922636-saaim-nayeem-review-on-dr-d-y-patil-school-of-design-pune" data-ga-module="college_detail" data-ga-section="Everything True" data-ga-title="Saaim nayeem" data-ga-track="true" href="/reviews/922636-saaim-nayeem-review-on-dr-d-y-patil-school-of-design-pune">Saaim nayeem</a>,
 <a class="user-name pointer" data-college_section_name="reviews" data-csm-title="VAIBHAVI RAVINDRA TELANG" data-ga-href="reviews/922631-vaibhavi-ravindra-telang-review-on-dr-d-y-patil-school-of-design-pune" data-ga-module="college_detail" data-ga-section="Design is not just art, its solving problems creatively." data-ga-title="VAIBHAVI RAVINDRA TELANG" data-ga-track="true" href="/reviews/922631-vaibhavi-ravindra-telang-review-on-dr-d-y-patil-school-of-design-pune">VAIBHAVI RAVINDRA TELANG</a>,
 <a class="user-name pointer" data-college_section_name="reviews" data-csm-title="Parth Andhale" data-ga-href="reviews/922630-parth-andhale-review-on-smt-kashibai-navale-medical-college-and-general-hospital-sknmcgh-pune" data-ga-module="college_detail" data-ga-section="SKNMC Makes you a Doctor !" data-ga-title="Parth Andhale" data-ga-track="true" href="/reviews/922630-parth-andhale-review-on-smt-kashibai-navale-medical-college-and-general-hospital-sknmcgh-pune">Parth Andhale</a>,
 <a class="user-name pointer" data-college_section_name="reviews" data-csm-title="Anmol Trivedi" data-ga-href="reviews/922628-anmol-trivedi-review-on-sri-aurobindo-institute-of-technology-sait-indore" data-ga-module="college_detail" data-ga-section="Sri Aurobindo Institute of Technology complete review" data-ga-title="Anmol Trivedi" data-ga-track="true" href="/reviews/922628-anmol-trivedi-review-on-sri-aurobindo-institute-of-technology-sait-indore">Anmol Trivedi</a>,
 <a class="user-name pointer" data-college_section_name="reviews" data-csm-title="Paritosh maurya" data-ga-href="reviews/922627-paritosh-maurya-review-on-dronacharya-group-of-institutions-dgi-greater-noida" data-ga-module="college_detail" data-ga-section="Experience from a fresher" data-ga-title="Paritosh maurya" data-ga-track="true" href="/reviews/922627-paritosh-maurya-review-on-dronacharya-group-of-institutions-dgi-greater-noida">Paritosh maurya</a>,
 <a class="user-name pointer" data-college_section_name="reviews" data-csm-title="JAHANAVI SONI" data-ga-href="reviews/922626-jahanavi-soni-review-on-g-l-bajaj-institute-of-technology-and-management-greater-noida" data-ga-module="college_detail" data-ga-section="GL Bajaj is the college you're searching for" data-ga-title="JAHANAVI SONI" data-ga-track="true" href="/reviews/922626-jahanavi-soni-review-on-g-l-bajaj-institute-of-technology-and-management-greater-noida">JAHANAVI SONI</a>,
 <a class="user-name pointer" data-college_section_name="reviews" data-csm-title="Ganesh reddy" data-ga-href="reviews/922624-ganesh-reddy-review-on-sanskriti-university-su-mathura" data-ga-module="college_detail" data-ga-section="I provided my level best in campus life and lot of their to say" data-ga-title="Ganesh reddy" data-ga-track="true" href="/reviews/922624-ganesh-reddy-review-on-sanskriti-university-su-mathura">Ganesh reddy</a>,
 <a class="user-name pointer" data-college_section_name="reviews" data-csm-title="Yuvraj Tiwari" data-ga-href="reviews/922623-yuvraj-tiwari-review-on-pranveer-singh-institute-of-technology-psit-kanpur" data-ga-module="college_detail" data-ga-section="College review" data-ga-title="Yuvraj Tiwari" data-ga-track="true" href="/reviews/922623-yuvraj-tiwari-review-on-pranveer-singh-institute-of-technology-psit-kanpur">Yuvraj Tiwari</a>,
 <a class="user-name pointer" data-college_section_name="reviews" data-csm-title="Abhishek kuri" data-ga-href="reviews/922621-abhishek-kuri-review-on-maharani-laxmi-bai-medical-college-jhansi" data-ga-module="college_detail" data-ga-section="Abhishek review " data-ga-title="Abhishek kuri" data-ga-track="true" href="/reviews/922621-abhishek-kuri-review-on-maharani-laxmi-bai-medical-college-jhansi">Abhishek kuri</a>,
 <a class="user-name pointer" data-college_section_name="reviews" data-csm-title="BANOTHU TRINADH" data-ga-href="reviews/922619-banothu-trinadh-review-on-indian-institute-of-information-technology-sri-city-iiit-sri-city" data-ga-module="college_detail" data-ga-section="Iiit sri city " data-ga-title="BANOTHU TRINADH" data-ga-track="true" href="/reviews/922619-banothu-trinadh-review-on-indian-institute-of-information-technology-sri-city-iiit-sri-city">BANOTHU TRINADH</a>,
 <a class="user-name pointer" data-college_section_name="reviews" data-csm-title="Review Rebel" data-ga-href="reviews/922617-student-review-on-lnct-group-of-colleges-lnct-bhopal" data-ga-module="college_detail" data-ga-section="Read this before taking admission in LNCT" data-ga-title="Review Rebel" data-ga-track="true" href="/reviews/922617-student-review-on-lnct-group-of-colleges-lnct-bhopal">Review Rebel</a>,
 <a class="user-name pointer" data-college_section_name="reviews" data-csm-title="Shivansh Patel" data-ga-href="reviews/922612-shivansh-patel-review-on-pranveer-singh-institute-of-technology-psit-kanpur" data-ga-module="college_detail" data-ga-section="PSIT the strict but helpful college" data-ga-title="Shivansh Patel" data-ga-track="true" href="/reviews/922612-shivansh-patel-review-on-pranveer-singh-institute-of-technology-psit-kanpur">Shivansh Patel</a>]

In [7]:
# making an empty list "student_name"
student_name=[]

# appending the scraped data in the list student_name
for i in soup.find_all("a",class_="user-name pointer"):
    student_name.append(i.text.strip())
    
student_name

['Brahmansh singal',
 'Anaswara shailesh',
 'Kesa surya',
 'Rishika dubey',
 'Kajal',
 'Kanika Mishra',
 'sushmitha',
 'Saparu USHA RANI',
 'Saaim nayeem',
 'VAIBHAVI RAVINDRA TELANG',
 'Parth Andhale',
 'Anmol Trivedi',
 'Paritosh maurya',
 'JAHANAVI SONI',
 'Ganesh reddy',
 'Yuvraj Tiwari',
 'Abhishek kuri',
 'BANOTHU TRINADH',
 'Review Rebel',
 'Shivansh Patel']

In [8]:
# making another empty list and applying same (appending the data in the list)
lst=[]
for i in soup.find_all("span",class_="jsx-2133140133 jsx-1992814191 user-bullet-info pr-3 text-capitalize"):
    lst.append(i.text.strip())
    
lst

['BA, English',
 'B.Tech, Computer Science and Engineering',
 'B.Tech, Computer Science and Engineering',
 'B.Des, Interior Design',
 'B.Tech {Lateral}, Internet of Things & Cyber Security Including Blockchain Technology',
 'B.Tech, Mechanical Engineering',
 'BE, Information Science & Engineering',
 'M.Sc, Botany',
 'B.Sc {Hons.}, Interior Design',
 'B.Des, Product Design',
 'MBBS',
 'B.Tech, Artificial Intelligence & Machine Learning',
 'B.Tech, Information Technology',
 'B.Tech, Electronics & Communication Engineering',
 'B.Tech, Computer Science and Engineering',
 'B.Tech, Computer Science and Engineering',
 'MBBS',
 'B.Tech, Electronics & Communication Engineering',
 'BE, Electronics & Communication Engineering',
 'B.Tech, Computer Science and Engineering']

In [9]:
# finding the number of rows in both lists. (both should be equal)
len(lst),len(student_name)

(20, 20)

In [10]:
# just for a refrence
x=lst[0].split(",")
x

['BA', ' English']

In [11]:
# just for a refrence
x[0]

'BA'

In [12]:
# making two empty lists "specilization", "course_name"
specilization = []
course_name=[]

# appending the data from the list "lst" in the two new lists
for i in lst:
    if ","in i:
        
        new=i.split(",")
        specilization.append(new[0])
        course_name.append(new[1])
    
    else:
        specilization.append(i)
        course_name.append("NA")

In [13]:
# setting up another empty list
student_name = []

# appending the scrapped data in a list
for i in soup.find_all("a", class_ = "user-name pointer"):
    if i :
        student_name.append(i.text.strip())
    else:
        student_name.append("NA")
        
student_name

['Brahmansh singal',
 'Anaswara shailesh',
 'Kesa surya',
 'Rishika dubey',
 'Kajal',
 'Kanika Mishra',
 'sushmitha',
 'Saparu USHA RANI',
 'Saaim nayeem',
 'VAIBHAVI RAVINDRA TELANG',
 'Parth Andhale',
 'Anmol Trivedi',
 'Paritosh maurya',
 'JAHANAVI SONI',
 'Ganesh reddy',
 'Yuvraj Tiwari',
 'Abhishek kuri',
 'BANOTHU TRINADH',
 'Review Rebel',
 'Shivansh Patel']

In [14]:
# making a dictionary to create a data frame
dict = {
    "course_name":course_name,
    "degree":specilization,
    "student_name":student_name
}

In [15]:
# creating a dataframe of the dictionary
df=pd.DataFrame(dict)
df

,course_name,degree,student_name
0,English,BA,Brahmansh singal
1,Computer Science and Engineering,B.Tech,Anaswara shailesh
2,Computer Science and Engineering,B.Tech,Kesa surya
3,Interior Design,B.Des,Rishika dubey
4,Internet of Things & Cyber Security Including...,B.Tech {Lateral},Kajal
5,Mechanical Engineering,B.Tech,Kanika Mishra
6,Information Science & Engineering,BE,sushmitha
7,Botany,M.Sc,Saparu USHA RANI
8,Interior Design,B.Sc {Hons.},Saaim nayeem
9,Product Design,B.Des,VAIBHAVI RAVINDRA TELANG
10,NA,MBBS,Parth Andhale
11,Artificial Intelligence & Machine Learning,B.Tech,Anmol Trivedi
12,Information Technology,B.Tech,Paritosh maurya
13,Electronics & Communication Engineering,B.Tech,JAHANAVI SONI
14,Computer Science and Engineering,B.Tech,Ganesh reddy
15,Computer Science and Engineering,B.Tech,Yuvraj Tiwari
16,NA,MBBS,Abhishek kuri
17,Electronics & Communication Engineering,B.Tech,BANOTHU TRINADH
18,Electronics & Communication Engineering,BE,Review Rebel
19,Computer Science and Engineering,B.Tech,Shivansh Patel

In [16]:
# for multiple pages we need to run the loop while repeating the entire steps

# creating the lists
degree = []
course_name=[]
student_name=[]

# appending the data in the lists degree and course_name
for i in range(1,6):
    url = f"https://collegedunia.com/reviews/page-{i}"
    headers = {"User-Agent": 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.81 Safari/537.36'}
    webpage= requests.get(url,headers=headers).text
    soup = BeautifulSoup(webpage,"lxml")
    
    for i in soup.find_all("span",class_="jsx-2133140133 jsx-1992814191 user-bullet-info pr-3 text-capitalize"):
        if i:
            if "," in i.text:
                new=i.text.split(",")
                degree.append(new[0])
                course_name.append(new[1])
            else:
                degree.append(i.text)
                course_name.append("NA")
        else:
            degree.append("NA")
            course_name.append("NA")

In [17]:
# for student name we have another loop
for i in range(1,6):
    url = f"https://collegedunia.com/reviews/page-{i}"
    headers = {"User-Agent": 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.81 Safari/537.36'}
    webpage= requests.get(url,headers=headers).text
    soup = BeautifulSoup(webpage,"lxml")
    
    
    for i in soup.find_all("a",class_="user-name pointer"):
        student_name.append(i.text.strip())

In [18]:
# findiing teh number of rows in each list (all should be equal)
len(degree),len(course_name),len(student_name)

(100, 100, 100)

In [19]:
# creating the new dictionary again as dict and making a datafram of the dictionary
dict = {
    "course_name":course_name,
    "degree":degree,
    "student_name":student_name
}

df=pd.DataFrame(dict)
df

                                 course_name       degree         student_name
0                             Cyber Security           BE       Shaik FarjuTaj
1                                         NA      B.Pharm  Tejas Chittappa C T
2                          Civil Engineering       B.Tech        Mridul sharma
3                           Computer Science       B.Tech          Sanya singh
4                                    General        B.Com           Thanushree
..                                       ...          ...                  ...
95                                   Geology         M.Sc     Thungdeno Tsopoe
96   Electronics & Communication Engineering       B.Tech                Vamsi
97                    Mechanical Engineering  Polytechnic               Nikhil
98          Computer Science and Engineering       B.Tech             Ekta Rai
99                                        NA      B.Pharm             R ganesh

[100 rows x 3 columns]

In [20]:
df.tail()

                                 course_name       degree      student_name
95                                   Geology         M.Sc  Thungdeno Tsopoe
96   Electronics & Communication Engineering       B.Tech             Vamsi
97                    Mechanical Engineering  Polytechnic            Nikhil
98          Computer Science and Engineering       B.Tech          Ekta Rai
99                                        NA      B.Pharm          R ganesh

In [21]:
df.to_csv('extracted_colleged_data.csv', index=False)  # Setting up index=False to avoid writing row indices